@media (max-width: 1200px) {
	body{
		height:auto;
	}
	.rectangle1{
		height: 78px;
	}
	.rectangle1__content{
		max-width: 800px;
	}
	.container{
		max-width: 960px;
	}
	.test-task{
		font-size: 20.5px;
		margin-top: 8px;
	}
	.header__left{
		width: 40%;
		margin: 50px 6% 0 0;
	}
	.header__right{
		width: 54%;
		margin: 180px 0 0 auto;
	}
	.title{
		height: 125px;
		font-size: 42px;
		margin-left: 70px;
	}
	.rectangle34-white{
		height: 260px;	
		margin-top: 160px;
		width: 380px;
		margin-left: 35px;
	}
	.photo-type-1{
		width: 100px;
		height: 100px;
		background: center center / 100% 100% no-repeat url(../img/1.jpg);
		border-radius: 100px;
		margin: 25px 25px 0 32px;
	}
	.rectangle34-white__author{
		height: 55px;
		font-size: 19px;
		line-height: 24px;
		margin-top: 55px;
	}
	.rectangle34-white__author:after{
		height: 20px;
	}
	.rectangle34-white__quote{
		width: 310px;
		height: 79.09px;
		font-size: 17px;
		line-height: 22px;
		margin: 0 25px 35px 85px;
	}
	.subtitle{
		width: 94%;
		height: 80px;
		font-size: 27px;
	}
	.rectangle34-blue{
		height: 340px;
		margin-top: 10px;
	}
	.rectangle34-blue__title{
		width: 48%;
		font-size: 30px;
		margin: 38px 0 0 35px;
	}
	.shape{
		height: 110px;
		margin-top: 70px;
	}
	h5{
		font-size: 12px;
		height: 15px;
		line-height: 15px;
	}
	.shape__title{
		margin: 15px 0 15px 20px;
	}
	.shape__money{
		font-size: 21px;
		height: 26px;
		line-height: 26px;
		margin: 0 11px 8px 20px;
	}
	.shape__percent{
		margin-top: 6px;
		position: relative;
	}
	.shape__percent:after{
		content: '^';
		position: absolute;
		left: 112.9%;
		top: 22%;
		transform: rotate(180deg);
		font-size: 12px;
	}
	.percent-arrow{
		left: 118%;
		top: -1px;
		font-size: 13px;
	}
	.shape__info{
		height: 13px;
		font-size: 10.5px;
		line-height: 13px;
		margin: 0 0 15px 15px;
	}
	.shape-2{
		height: 110px;
		margin: -110px 0 0 40px;
	}
	.shape-2 .shape__percent{
		color: #FE805C;
	}
	.shape-2 .percent-arrow{
		color: #FE805C;
		left: 120%;
	}
	.shape-2 .shape__percent:after{
		content: '^';
		position: absolute;
		left: 113%;
		top: -3px;;
		font-size: 14px;
	}
	#section1{
		margin-top: 110px;
	}
	.section__title{
		font-size: 32px;
		margin-bottom: 48px;
	}
	#slider ul li{
		width: 30%;
		display: flex;
		justify-content: center;
	}
	.pro{
		width: 87%;
		height: 285px;
		margin-right: 0;
	}
	.pro .photo-type-2{
		width: 76px;
		height: 76px;
		margin: 25px 0 9px;
	}
	.pro__name{
		font-size: 17px;
		height: 22px;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.pro__quote{
		height: 79px;
		font-size: 18px;
		line-height: 22px;
		margin: 29px 23px 45px 23px;
	}
	.professionals__fedya .pro__quote{
		font-size: 21px;
	}
	#section2{
		margin-top: 95px;
	}
	.comment{
		width: 68.5%;
		height: 80px;
		margin: 0 0 24px 0;
	}
	.photo-type-3{
		width: 50px;
		height: 50px;
		margin: 15px;
	}
	.comment__text{
		font-size: 14px;
		width: 70%;
	}
	.comment__text:after{
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.25px;
		top: 25px;
		left: 0px;
	}
	.comment__date{
		margin: 16px 20px auto 50px;
		font-size: 14px;
		line-height: 20px;
	}
	i.fa-star{
		font-size: 14px;
		width: 15px;
		height: 15px;
		top: 50px;
	}
	.star-1{
		left: 530px;
	}
	.star-2{
		left: 550px;
	}
	.star-3{
		left: 570px;
	}
	.star-4{
		left: 590px;
	}
	.star-5{
		left: 610px;
	}
	#section3{
		margin-top: 38px;
	}
	.reminder{
		font-size: 26px;
		width: 100%;
	}
	.production{
		width: 100%;
		font-size: 12px;
		line-height: 180%;
		margin: 30px 0 5px 0;
	}
	.terms{
		font-size: 11px;
		margin-bottom: 10px;
	}
}
@media (max-width: 992px) {
	.rectangle1{
		height: 76px;
	}
	.rectangle1__content{
		max-width: 640px;
	}
	.container{
		max-width: 720px;
	}
	.test-task{
		font-size: 20.5px;
	}
	.header__left{
		width: 40%;
		margin: 20px 6% 0 0;
	}
	.header__right{
		width: 54%;
		margin: 150px 0 0 auto;
	}
	.title{
		width: 550px;
    	height: 120px;
    	font-size: 32px;
    	margin-left: 40px;
	}
	.rectangle34-white{
		height: 220px;	
		margin-top: -140px;
		width: 100%;
		margin-left: 0;
		position: relative;
	}
	.photo-type-1{
		width: 90px;
		height: 90px;
		background: center center / 100% 100% no-repeat url(../img/1.jpg);
		border-radius: 100px;
		margin: 20px 20px 0 20px;
	}
	.rectangle34-white__author{
		height: 55px;
		font-size: 18px;
		line-height: 22px;
		margin-top: 45px;
	}
	.rectangle34-white__author:after{
		height: 20px;
		font-size: 15px;
	}
	.rectangle34-white__quote{
		width: 310px;
		height: 79.09px;
		font-size: 15px;
		line-height: 20px;
		margin: 0 25px 10px 25px;
	}
	.subtitle{
		width: 299px;
    	height: 80px;
    	font-size: 27px;
    	margin: -45px 0 0 50px;
    	text-align: left;
	}
	.rectangle34-blue{
		height: 290px;
		margin-top: 15px;
	}
	.rectangle34-blue__title{
		width: 48%;
		font-size: 24px;
		margin: 20px 0 0 30px;
	}
	.shape{
		width: 43%;
		height: 95px;
		margin-top: 70px;
		margin-left: -20px;
	}
	h5{
		font-size: 11px;
		height: 14px;
		line-height: 14px;
	}
	.shape__title{
		margin: 12px 0 12px 15px;
	}
	.shape__money{
		font-size: 18px;
		height: 22px;
		line-height: 22px;
		margin: 0 10px 7px 15px;
	}
	.shape__percent{
		margin-top: 4px;
		position: relative;
	}
	.shape__percent:after{
		content: '^';
		position: absolute;
		left: 112%;
		top: 22%;
		transform: rotate(180deg);
		font-size: 12px;
	}
	.percent-arrow{
		left: 118%;
		top: -1px;
		font-size: 13px;
	}
	.shape__info{
		height: 12px;
		font-size: 9px;
		line-height: 12px;
		margin: 0 0 10px 8px;
	}
	.shape-2{
		height: 95px;
		margin: -25px 0 0 30px;
	}
	.shape-2 .shape__percent{
		color: #FE805C;
	}
	.shape-2 .percent-arrow{
		color: #FE805C;
		left: 120%;
	}
	.shape-2 .shape__percent:after{
		content: '^';
		position: absolute;
		left: 113%;
		top: -3px;;
		font-size: 14px;
	}
	#section1{
		margin-top: 100px;
	}
	.section__title{
		font-size: 30px;
		margin-bottom: 45px;
	}
	#slider ul li{
		width: 33.3%;
	}
	.pro{
		width: 87%;
		height: 285px;
	}
	.pro .photo-type-2{
		width: 75px;
		height: 75px;
		margin: 24px 0 8px;
	}
	.pro__name{
		font-size: 16px;
		height: 22px;
	}
	.pro__quote{
		height: 75px;
		font-size: 16px;
		line-height: 21px;
		margin: 28px 20px 40px 20px;
	}
	.professionals__fedya{
		margin-right: 0;
	}
	.professionals__fedya .pro__quote{
		font-size: 20px;
	}
	#section2{
		margin-top: 80px;
	}
	.comment{
		width: 91%;
		height: 80px;
		margin: 0 0 24px 0;
	}
	#section3{
		margin-top: 35px;
	}
	.reminder{
		font-size: 25px;
	}
}
@media (max-width: 768px) {
	.rectangle1{
		height: 72px;
	}
	.rectangle1__content{
		max-width: 520px;
	}
	.container{
		max-width: 520px;
		flex-flow: row wrap;
	}
	.test-task{
		font-size: 19px;
		margin-top: 7px;
	}
	.header__left{
		width: 100%;
		margin: 20px 0 0 0;
		flex-flow: row wrap;
	}
	.header__right{
		width: 100%;
		margin: 180px 0 0 0;
		flex-flow: row wrap;
		justify-content: center;
	}
	.title{
		width: 350px;
		height: 120px;
		font-size: 38px;
		margin: 20px auto 0 100px;
		line-height: 50px;
		text-align: center;
	}
	.rectangle34-white{
		width: 90%;
		height: 240px;	
		margin: -100px auto 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	.rectangle34-white:hover{
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
		transform: scale(1);
	}
	.photo-type-1{
		width: 100px;
		height: 100px;
		margin: 20px 20px 0 20px;
	}
	.rectangle34-white__author{
		height: 55px;
		font-size: 17px;
		line-height: 22px;
		margin-top: 50px;
		width: 32%;
	}
	.rectangle34-white__author:after{
		height: 20px;
		font-size: 16px;
	}
	.rectangle34-white__quote{
		width: 75%;
		height: 80px;
		font-size: 15px;
		line-height: 20px;
		margin: 20px 0 10px 0;
	}
	.subtitle{
		width: auto;
		height: 60px;
		font-size: 27px;
		margin: 0;
	}
	.rectangle34-blue{
		width: 100%;
		height: 350px;
		margin-top: 10px;
	}
	.rectangle34-blue:hover{
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
		transform: scale(1);
	}
	.rectangle34-blue__title{
		font-size: 26px;
		margin: 30px 0 0 35px;
	}
	.shape{
		width: 42%;
		height: 110px;
	}
	.shape:hover{
		box-shadow: 0 0 0  rgba(0,0,0,0);
		transform: translateY(0px);
	}
	h5{
		font-size: 13px;
		height: 16px;
		letter-spacing: 0.206929px;
		line-height: 16px;
	}
	.shape__title{
		margin: 15px 0 15px 15px;
	}
	.shape__money{
		font-size: 21px;
		margin: 0 10px 8px 15px;
	}
	.shape__percent{
		color: #4643D3;
		margin-top: 2.5px;
		position: relative;
	}
	.shape__percent:after{
		content: '^';
		position: absolute;
		left: 113.5%;
		top: 22%;
		transform: rotate(180deg);
		font-size: 14px;
	}
	.percent-arrow{
		left: 120%;
		top: -1px;
		font-size: 13px;
		position: absolute;
	}
	.shape__info{
		height: 14px;
		font-weight: normal;
		font-size: 11px;
		line-height: 14px;
		color: #AFAFBD;
		margin: 0 0 15px 15px;
	}
	.shape-2{
		width: 40%;
		height: 110px;
		margin: -20px 0 0 35px;
	}
	.shape-2 .shape__percent{
		color: #FE805C;
	}
	.shape-2 .percent-arrow{
		color: #FE805C;
		left: 119%;
	}
	.shape-2 .shape__percent:after{
		content: '^';
		position: absolute;
		left: 113%;
		top: -3px;
		font-size: 14px;
		transform: rotate(0deg);
	}
	#section1{
		margin-top: 85px;
	}
	.section__title{
		font-size: 28px;
		margin-bottom: 40px;
	}
	.pro{
		width: 100%;
		height: 270px;
	}
	.pro:hover{
		transform: none;
	}
	.professionals__fedya:hover{
		box-shadow: none;
	}
	.professionals__abigale:hover{
		box-shadow: none;
	}
	.professionals__nia:hover{
		box-shadow: none;
	}
	.pro .photo-type-2{
		width: 76px;
		height: 76px;
		margin: 24px 0 8px;
	}
	.pro__name{
		font-size: 15px;
	}
	.pro__quote{
		height: 70px;
		font-size: 16px;
		line-height: 20px;
		margin: 26px 20px 35px 20px;
	}
	.professionals__fedya .pro__quote{
		font-size: 19px;
	}

/*____________slider_____________*/

	#section1 .section__title{
		margin-bottom: 0;
	}
	.pro-slider{
		display: flex;
		flex-flow: row wrap;
		width: 90%;
		margin: 0 auto;
		align-items: center;
	}
	#slider {
	  position: relative;
	  overflow: hidden;
	  display: flex;
	  justify-content: center;
	}
	#slider ul {
	  position: relative;
	  height: 380px;
	  width: auto;
	}
	#slider ul li {
	  position: relative;
	  display: block;
	  float: left;
	  margin: 0;
	  padding: 0;
	  width: 230px;
	  height: 300px;
	  text-align: center;
	  margin: 50px 50px  0 50px;
	}
	.control_prev,
	.control_next {
	  display: block;
	  padding: 3.5% 4% 3.5% 3.5%;
	  width: 50px;
	  height: 50px;
	  background: #fff;
	  color: #000;
	  cursor: pointer;
	  border: 0.5px solid rgba(0, 0, 0, 0.06);
	  opacity: 0.75;
	  margin-bottom: 20px;
	  border-radius: 50px;
	  transition: all 0.2s ease;
	}
	.control_prev{
		padding: 3.5% 4% 3.5% 3.5%;
		box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.15);
	}
	.control_next{
		padding: 3.5% 3.5% 3.5% 4%;
		box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.15);
	}
	.control_prev:hover{
		box-shadow: -1.5px 2px 4px 0px rgba(0, 0, 0, 0.3);
	}
	.control_next:hover{
		box-shadow: 1.5px 2px 4px 0px rgba(0, 0, 0, 0.3);
	}
	.control_prev:hover, .control_next:hover {
	  opacity: 1;
	  transform: scale(0.95);
	}
	.professionals{
		width: 70%;
	}
	.pro{
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08), 0px -5px 10px rgba(0, 0, 0, 0.06);
		/*box-shadow: none;*/
		border: 1px solid rgba(0, 0, 0, 0.08);
	}
/*_________________________*/
	#section2{
		margin-top: 20px;
	}
	.comment{
		width: 100%;
		height: 75px;
		margin: 0 0 22px 0;
	}
	.photo-type-3{
		width: 50px;
		height: 50px;
		margin: 13px;
	}
	.comment__text{
		font-size: 12.6px;
		line-height: 20px;
		width: 75%;
	}
	.comment__text:after{
		font-size: 11px;
		top: 24px;
		left: 0px;
	}
	.comment__date{
		margin: 14px 18px auto auto;
		font-size: 13px;
		line-height: 20px;
	}
	i.fa-star{
		font-size: 13px;
		width: 15px;
		height: 15px;
		top: 50px;
	}
	.star-1{
		left: 425px;
	}
	.star-2{
		left: 440px;
	}
	.star-3{
		left: 455px;
	}
	.star-4{
		left: 470px;
	}
	.star-5{
		left: 485px;
	}
	#section3{
		margin-top: 35px;
	}
	.reminder{
		font-size: 22px;
	}
	.production{
		font-size: 11px;
		margin: 25px 0 4px 0;
	}
	.terms{
		font-size: 10px;
		margin-bottom: 8px;
	}
}
@media (max-width: 576px) {
	.rectangle1{
		height: 70px;
	}
	.rectangle1__content{
		max-width: 320px;
	}
	.rectangle32{
		width: 11px;
		height: 11px;
		margin-top: 9px;	
	}
	.rectangle33{
		width: 11px;
		height: 20px;
		margin-left: 5px;
	}
	.container{
		max-width: 320px;
		flex-flow: row wrap;
	}
	.test-task{
		font-size: 18px;
		margin-top: 7px;
		margin-left: 22px;
	}
	.header__left{
		margin: 20px 0 0 0;
	}
	.header__right{
		width: 100%;
		margin: 180px 0 0 0;
		flex-flow: row wrap;
		justify-content: center;
	}
	.title{
		width: 80%;
		font-size: 34px;
		margin: 20px auto 0 auto;
	}
	.rectangle34-white{
		height: 220px;	
	}
	.photo-type-1{
		width: 90px;
		height: 90px;
		margin: 20px 20px 0 20px;
	}
	.rectangle34-white__author{
		font-size: 16px;
		margin-top: 45px;
		width: 54%;
	}
	.rectangle34-white__author:after{
		font-size: 15px;
	}
	.rectangle34-white__quote{
		width: 80%;
		height: 80px;
		font-size: 14px;
		line-height: 20px;
		margin: 15px 0 10px 0;
	}
	.subtitle{
		width: auto;
		height: 60px;
		font-size: 24px;
		text-align: center;
	}
	.rectangle34-blue{
		width: 100%;
		height: 300px;
		margin-top: 20px;
	}
	.rectangle34-blue__title{
		font-size: 22px;
		margin: 45px 0 0 35px;
		width: 25%;
		height: 100px;
		text-align: center;
	}
	.rectangle34-blue__title:after{
		margin: 95px 0 0 165px;
	}
	.shape{
		width: 45%;
		height: 105px;
		margin: 30px 0 0 30px;
	}
	h5{
		text-align: center;
		font-size: 12px;
	}
	.shape__title{
		margin: 10px 0 10px 0;
		width: 100%;
	}
	.shape__money{
		font-size: 18px;
		margin: 0 10px 8px 15px;
	}
	.shape__percent:after{
		content: '^';
		position: absolute;
		left: 112.6%;
		top: 22%;
		transform: rotate(180deg);
		font-size: 14px;
	}
	.percent-arrow{
		left: 120%;
		top: -1px;
		font-size: 13px;
		position: absolute;
	}
	.shape__info{
		text-align: center;
		font-size: 10px;
		margin: 0 15px 15px 15px;
	}
	.shape-2{
		width: 47%;
		height: 105px;
		margin: 0px 0 0 35px;
	}
	.shape-2 .shape__percent{
		color: #FE805C;
	}
	.shape-2 .percent-arrow{
		color: #FE805C;
		left: 119%;
	}
	.shape-2 .shape__percent:after{
		content: '^';
		position: absolute;
		left: 113%;
		top: -3px;
		font-size: 14px;
		transform: rotate(0deg);
	}
	#section1{
		margin-top: 80px;
	}
	.section__title{
		font-size: 24px;
		margin-bottom: 10px;
	}
	#slider ul {
	  height: 330px;
	}
	#slider ul li {
	  width: 200px;
	  height: 280px;
	  margin: 30px 45px 0 45px;
	  display: flex;
	}
	.control_prev,
	.control_next {
	  padding: 3%;
	  width: 40px;
	  height: 40px;
	}
	.professionals{
		/*width: 70%;*/
	}
	.pro{
		width: 85%;
		height: 250px;
	}
	.pro .photo-type-2{
		width: 70px;
		height: 70px;
		margin: 20px 0 8px;
	}
	.pro__name{
		font-size: 13px;
	}
	.pro__quote{
		height: 65px;
		font-size: 13px;
		line-height: 19px;
		margin: 20px 15px 25px 15px;
	}
	.professionals__fedya .pro__quote{
		font-size: 17px;
		height: 40px;
	}
	.professionals__fedya{
		height: 200px;
	}
	#section2{
		margin-top: 50px;
	}
	#section2 .section__title{
		font-size: 17px;
		margin-bottom: 20px;
	}
	.comment{
		width: 100%;
		height: 75px;
		margin: 0 0 20px 0;
	}
	.photo-type-3{
		width: 50px;
		height: 50px;
		margin: 13px;
	}
	.comment__text{
		font-size: 11px;
		line-height: 15px;
		width: 57%;
	}
	.comment__text:after{
		font-size: 10px;
		top: 32px;
		left: 0px;
	}
	.comment__date{
		margin: 16px 18px auto auto;
		font-size: 12px;
		line-height: 20px;
	}
	i.fa-star{
		font-size: 12px;
		width: 14px;
		height: 14px;
		top: 52px;
	}
	.star-1{
		left: 225px;
	}
	.star-2{
		left: 240px;
	}
	.star-3{
		left: 255px;
	}
	.star-4{
		left: 270px;
	}
	.star-5{
		left: 285px;
	}
	#section3{
		margin-top: 20px;
	}
	.reminder{
		font-size: 18px;
		text-align: center;
	}
	.production{
		font-size: 10px;
		margin: 20px 0 3px 0;
	}
	.terms{
		font-size: 9px;
		margin-bottom: 6px;
	}
}
